   * {
       margin: 0;
       padding: 0;
   }

   body {
       background: linear-gradient(to left, #87488f, #41206d);
   }

   .navbar {
       background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
       display: flex;
       flex-direction: row;
       justify-content: start;
       padding-left: 10px;
       display: flex;

   }

   .navbar>:nth-child(2) {
       font-size: larger;
       font-style: italic;
       font-weight: bolder;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       margin-left: 5px;
   }

   .box1,
   .box2 {
       padding: 10px;
       border-radius: 20px;
       margin-top: 2vh;
       border: 1px solid;
       height: 80vh;
   }

   .title,
   .search {
       margin-bottom: 5px;
       border: none;
   }

   .title>input {
       border: none;
       padding: 2px 10px;
       margin: 5px 0px;
       background-color: rgba(215, 211, 240, 0.852);
       text-align: left;
       font-style: italic;
       font-weight: bolder;
       border-radius: 5px;


   }

   .box1 {
       background: linear-gradient(to right, #87488f54, #41206d69);
       width: 70vw;
   }

   .box2 {
       background-color: rgba(181, 137, 252, 0.838);
       width: 40vw;  /*30vw*/
       transition: all 1s;
   }

   .databox {
       background-color: rgba(237, 236, 188, 0.532);
       height: 70vh;
       justify-self: center;
       border-radius: 20px;
       margin-top: 5px;
       overflow-x: auto;
       white-space: pre-line;
       width: auto;

   }

   .message {
       padding: 20px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   .form-control {
       background-color: rgba(201, 189, 232, 0.637);
       max-height: 70vh;
       height: 60vh;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: larger;
       font-weight: bold;
       font-style: italic;
   }

   .submit,
   .button,
   .Refresh,
   .delet {
       border: 1px solid black;
       border-radius: 20px;
       width: fit-content;
       padding: 1px 7px;
       background-color: lightblue;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       justify-self: center;
       margin-top: 5px;
   }

   .hover:hover {
       cursor: pointer;
       background-color: rgba(28, 28, 255, 0.258);
       color: white;
   }



    .dataplate {
       background-color: rgba(242, 242, 242, 0.884);
       border-radius: 10px;
       padding: 3px 10px;
       margin: 10px;
       transition: all 0.5s;
       white-space: pre-line;
       width: 27vw;
    }

   .deletbutton {
       border: none;
       background-color: none;
       display: flex;
       flex-direction: end;
       padding: 2px 5px;
       background-color: #ce4a4a;
       color: white;
       border-radius: 20px;
       font-size: small;
       margin-top: 5px;
       transition: all 0.5s;
   }

   .deletbutton:hover {
       background-color: red;
       scale: 1.1;
   }


   ::selection {
       background-color: rgba(255, 255, 0, 0.466);
       /* highlight color */
       color: black;
   }

   /* Firefox */
   * {
       scrollbar-width: thin;
       scrollbar-color: #3431e568 transparent;
       /* thumb color, track color */
   }

   /* Webkit browsers: Chrome, Edge, Safari */
   *::-webkit-scrollbar {
       width: 8px;
       /* scrollbar width */
   }

   *::-webkit-scrollbar-track {
       background: transparent;
       border-radius: 4px;
       /* smooth track corners */
   }

   *::-webkit-scrollbar-thumb {
       background-color: #adb2e6;
       /* light blue thumb */
       border-radius: 4px;
       /* smooth thumb corners */
   }